  
a {
    text-decoration: none !important;
    
    
}





.card {
    width: 18em;
    height: 40em;
    margin-top: 2em;
    margin-left: 2em;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

    
}

.btn{
    background-color: rgb(13, 60, 92) !important;
}
.card-body{
    background-color: aliceblue !important;
    text-decoration: black !important;

}
.TEXT{
    color: black !important;
}
 

